<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Origin Form Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form>
        <div class='container'>
            <h1>Origin Account Registration</h1>
            <label for='first-name'><b>First Name</b></label><br>
            <input type='text' placeholder='Enter First Name' name='firstName'><br>
            <label for='last-name'><b>Last Name</b></label><br>
            <input type='text' placeholder='Enter Last Name' name='lastName'><br>
            <hr>
            <label for='email'><b>Email</b></label><br>
            <input type='email' placeholder='sendmespam@me.ca' name='email'><br>

            <label for='tel'><b>Telephone Number</b></label><br>
            <input type='tel' placeholder='Phone Number' name='phoneNumber' min='9' max='10'><br>
            <hr>

            <label for='email'><b>Password</b></label><br>
            <input type='password' placeholder='Enter Password' name='password'><br>

            <label for='email'><b>Password Confirmation</b></label><br>
            <input type='password' placeholder='Enter Matching Password' name='password2'><br>
            <hr>
            <label for='gender'><b>Gender</b></label><br>
            <input type="checkbox" name="male-gender" value="Male"> Male<br>
            <input type="checkbox" name="female-gender" value="Female"> Female<br>
            <input type="checkbox" name="other-gender" value="Other"> Other<br>

            <label for='origin-start'><b>Origin Start Date</b></label><br>
            <input type="date" name="origin-start-date" min="2018-09-13" max="2017-01-01"><br>


            <label for='address'><b>Address</b></label>
            <br>
            <input type="text" value="" placeholder="123 Fake St" name="street-name">
            <input type= 'text' placeholder='City name' name='city'>

            <address>
             <br />
            <br />

            </address>


            <label for='twitter-handle'><b>Twitter</b></label><br>
            <input type="input" value="user-input"> Twitter<br>

            <label for="git-hub"><b>Git-Hub</b></label><br>
            <input type="text" value="user-input"> Git-Hub<br>


        </div>
    </form>
</body>

</html>

<!-- <html>

<head>
    <script>
        function validateForm() {
            var x = document.forms["myForm"]["Gender"].value;
            if (x == "") {
                alert("Gender must be filled out");
                return false;
            }
        }
    </script>
</head>

<body>

    <form name="myForm" aria-placeholder=" form">
        <p>Height</p>
        <select>
            <option></option>

        </select>
        <p>Address</p>
        <input />
        
        <p>Twitter</p>
        <input />




    </form>

</body>

</html> -->