/* You can add global styles to this file, and also import other style files */
body {
  // background: linear-gradient(to left, #be97dc, #d698b9, #8b3cdf);
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.create-todo{
  float: right;
}
.credits{
  text-align: center;
}
.clipboard-img{
  width: 3%;
}
.display-container{
  background-color: #2c3e50;
}
p{
  font-family: 'Crimson Text', serif;
  color:white;
}
.panel-title{
  font-family: 'Crimson Text', serif;
  color:white;
  position: relative;
  left: 10px;
}
.panel-default > .panel-heading{
  background-color: #bdc3c7;
}
.panel-default > .panel-footer{
  background-color: #bdc3c7;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
h1 {
  margin: 50px auto 0px auto;
  font-family: 'Crimson Text', serif;
  font-size: 5.625rem;
  line-height: 2;
}
h4{
  font-family: 'Crimson Text', serif;
  color: #fff;
}
h5 {
  font-family: 'Crimson Text', serif;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color:#2c3e50;
  border-width: 5px;
  width: 75%;
}
ul{
  list-style: none;
}
#view-todo{
  position: relative;
  left: 30px;
}
.strike-through {
  text-decoration: line-through;
}
textarea {
  width: 100%;
  max-width: 100%;
  min-height: 8em;
  max-height: 16em;
  font-size: 16px;
  font-family: 'Crimson Text', serif;
}
strong + small {
  display: block;
}
input[type="checkbox"] {
  margin-right: 1em;
}
div.pull-right a {
  margin-left: 1em;
}
.todoListMain .theList {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
.margin {
  left: 5px;
}
.title-div{
text-align: center;
color: white !important;
}